/* Estilos generales */

body, html {
  font-family: $font-family-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 1.5rem;
  @media (max-width: 768px) {
      overflow: visible;
  }
  
}

/* Encabezado */
.header {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    z-index: -1;
  }

}
/* about-crossfit*/
.about-crossfit{

  .about-crossfit-movile{
    display: none;
  }
  
  font-family: $font-family-sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  .about-crossfit-info{
    background-color: rgba(80, 80, 80, 0.7);
    display: flex;
    flex-direction: row;
    padding: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .about-crossfit-movile{
    background-color: rgba(80, 80, 80, 0.7);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .ab-cr-info-dupl{
    text-align: center;
  }
  p{
    width: 90%;
    margin: 0 auto;
  }
  h3{
    color:rgb(26, 26, 26);
    width: 100%;
    text-align: center;
  }
  h2{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    line-height: 2.5rem;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    z-index: -1;
  }
  @media (max-width: 768px) {
    .about-crossfit-movile{
      display: block;
    }
    .about-crossfit-info{
      display: none;
    }
  }
}

.representative-movements{
  color: #fff;

  picture{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  img{
    width: 100vw;
    height: 100vh;
    object-fit:cover;
  }
  h2{
    padding-top: 8vh;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 2rem;
  }
  h3{
    width: 100%;
    text-align: center;
  }
  .swiper {
    width: 95%;
    max-width: 1000px;
    background-color: rgba(80, 80, 80, 0.7);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    /* height: 30%; */
  }
  video {
    width: 90%;
    object-fit: contain;
    margin-bottom: 3rem;
  }
  p{
    width: 90%;
  }
  .swiper-slide{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.important-competitions{
  .importat-competitions-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    transition: transform 0.5s ease; 
    max-width: 700px;
    margin: 0 auto;
  }
  .competition-info:hover {
    transform: scale(1.1);
  }

  .competition-info {
    color: #fff;
    position: relative;
    width: 100%;
    height: 200px; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
  }
  
  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    align-items: center;
  }
  
  picture, img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }

  .content-container{
    width: 80%;
    margin: 0 auto;
  }

  .overlay {
    content: "";
    background: rgba(53, 53, 53, 0.5); /* Color de la máscara (negro con 50% de opacidad) */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Asegura que la máscara esté encima de la imagen */
  }
  h2{
    margin-top: 10vh;
    width: 100%;
    text-align: center;
  }
  h3{
    margin-bottom: 0.1rem;
  }
  .ubicacion{
    font-size: 0.8rem;
    margin-top: 0;
  }
  .numero-fecha{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
  }
  .fecha{
    margin-top: 0.1rem;
  }
  
}



.content{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
/* Secciones */
.section {
  height: 100vh;
  @media (max-width: 768px) {
    height: auto;
    min-height: 100vh;
  }
  width: 100%;
  transition: transform 0.7s ease;
}

/* Estilo del footer */
.footer {
  background-color: #333; /* Fondo oscuro */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo del logotipo */
.footer-logo img {
  max-height: 80px; /* Ajusta el tamaño del logo según sea necesario */
}